[submodule ".dotbot/dotbot"]
	path = .dotbot/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".dotbot/dotbot-includes"]
	path = .dotbot/dotbot-includes
	url = https://github.com/vanduc2514/dotbot-includes.git
[submodule ".dotbot/dotbot-ifplatform"]
	path = .dotbot/dotbot-ifplatform
	url = https://github.com/vanduc2514/dotbot-ifplatform.git
[submodule ".dotbot/dotbot-brew"]
	path = .dotbot/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
